.container {
    padding-block: 20px 10px;
    width: 800px;
}
@media (max-width: 1005px) {
    .container {
        width: 550px;
    }
}
@media (max-width: 610px) {
    .container {
        width: 85vw;
    }
}
