.error-page {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    padding: 50px;
}
.error-page-title {
    font-size: 50px;
    font-weight: 300;
}
.error-page-body {
    font-size: 20px;
    font-weight: 300;
}
