.footer {
    background-color: var(--root-background-color);
    color: var(--root-font-color);
    margin-top: auto;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer a {
    color: currentColor;
    transition: var(--anim-duration);
}
.footer a:hover {
    text-decoration: none;
}
