.form-add-data {
    font-size: 20px;
    border: 0;
    padding: 7px;
    overflow: auto;
    border-radius: var(--border-radius);
}
.form-add-textarea {
    resize: none;
    height: 300px;
}
.form-add-button {
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-font-color);
    border-radius: 12px;
    min-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: var(--anim-duration);
}
.form-add-button:hover {
    background-color: var(--button-bg-color-effect);
    transform: scale(0.98);
}
.form-add-button:active {
    transform: scale(0.96);
}
