.task-content {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    min-height: 50px;
    font-size: 20px;
    color: var(--root-color);
    padding: 5px;
}
.task-content-title {
    padding-bottom: 7px;
    margin-bottom: 5px;
    border-bottom: 3px solid var(--root-color);
    font-size: 24px;
    font-weight: 600;
}
.task-content-description {
    font-size: 18px;
    white-space: pre-wrap;
    line-height: 1.2;
}
.task-controller {
    display: flex;
    justify-content: space-between;
}
.task-controller-button {
    transition: var(--anim-duration-slow);
}
.task-controller-button:hover {
    transform: scale(0.95);
}
.task-controller-button:active {
    transform: scale(0.85);
}
