.block-about-page {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 1.4;
}
.block-about-page ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.block-about-page p {
    margin-bottom: 15px;
}
