:root {
    /*Colors*/
    --color-white: #fff;
    --color-black: #000000;
    --root-background-color: #ececec;
    --root-font-color: #000000;

    --root-font-family: Roboto, Arial, Helvetica, sans-serif;
    --body-bg-color: #fff;
    --anim-duration: 0.2s;
    --anim-duration-slow: 0.4s;

    /*Main settings*/
    --container-bg-color: #023e8a;
    --border-radius: 2px;
    --forms-border-radius: 15px;

    /*Form*/
    --form-text-color: #fff;
    --button-bg-color: #fcfcfc;
    --button-bg-color-effect: #f0f0f0;
}
body {
    font-family: var(--root-font-family);
    background-color: var(--body-bg-color);
}
#root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}
.forms {
    background-color: var(--container-bg-color);
    color: var(--form-text-color);
    border-radius: var(--forms-border-radius);
    padding: 20px;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-title {
    font-size: 24px;
    font-weight: 500;
    color: currentColor;
}
