:root {
    --root-font-family: Roboto, Arial, Helvetica, sans-serif;
    --header-footer-bg-color: rgb(184, 25, 25);
    --header-logo-color: rgb(255, 255, 255);
    --header-footer-font-color: rgb(255, 255, 255);
    --anim-duration: 0.2s;
}
body {
    font-family: var(--root-font-family);
}
#root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}
